[Unit]
Description=Private Internet Access VPN connection
{% if forward_port %}
Wants=pia-pf-renew.service
Before=pia-pf-renew.service
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="PYTHONPATH={{ site_packages }}"
ExecStart={{ pia_service }} connect {{ args }}
ExecStop={{ pia_service }} disconnect

[Install]
WantedBy=multi-user.target
