[Unit]
Description=Private Internet Access VPN connection
{% if forward_port %}
Wants=pia-pf-renew.service
Before=pia-pf-renew.service
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ python_interpreter }} {{ package_dir }}/cli.py connect {{ args }}
ExecStop={{ python_interpreter }} {{ package_dir }}/cli.py disconnect

[Install]
WantedBy=multi-user.target
