[Interface]
Address = {{ peer_ip }}
PrivateKey = {{ key }}
DNS = {{ dns_servers }}

[Peer]
PersistentKeepalive = 25
PublicKey = {{ server_pubkey }}
AllowedIPs = {{ allowed_ips }}
Endpoint = {{ endpoint }}
