[Interface]
Address = {{ peer_ip }}
PrivateKey = {{ key }}
FwMark = 16673
Table = 16673
PostUp = ip -4 rule add priority 6090 not fwmark 16673 table 16673
PostUp = ip -4 rule add priority 6080 table main suppress_prefixlength 0
PostUp = resolvectl dns %i {{ dns_servers }}
PostUp = resolvectl domain %i ~.
PreDown = ip -4 rule delete table 16673
PreDown = ip -4 rule delete table main suppress_prefixlength 0

[Peer]
PersistentKeepalive = 25
PublicKey = {{ server_pubkey }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ endpoint }}
